In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv('cleaned_non-vectorized_data.csv')
df = df[~df['Text'].isna()]
df

,Text,tokens,disgust,joy,anger,surprised,sad,fear,neutral
0,come mert â€™ today let u take care lunch enjoy ...,"['come', 'mert', 'â€™', 'today', 'let', 'u', 'ta...",0,0,0,0,0,0,1
1,nxt gt lay 20 staff tech 's latest cutback rb_...,"['nxt', 'gt', 'lay', '20', 'staff', 'tech', ""'...",0,0,0,0,0,0,1
2,layoff 20 workforce 100 employee sf bay area,"['layoff', '20', 'workforce', '100', 'employee...",0,0,0,0,0,0,1
3,today â€™ lunch special smoked pork sausage onio...,"['today', 'â€™', 'lunch', 'special', 'smoked', '...",0,0,0,0,0,0,1
4,come mert â€™ today grab salmon cake two home co...,"['come', 'mert', 'â€™', 'today', 'grab', 'salmon...",0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
9277,traik01 cdc people warmed u 2 year ago .... sa...,"['traik01', 'cdc', 'people', 'warmed', 'u', '2...",0,0,0,0,1,0,0
9278,sorry â€™ promo code share lately ðŸ˜­ promos autom...,"['sorry', 'â€™', 'promo', 'code', 'share', 'late...",0,0,0,0,1,0,0
9279,poor lad,"['poor', 'lad']",0,0,0,0,1,0,0
9280,one day able bill order tmobile bill sadly tod...,"['one', 'day', 'able', 'bill', 'order', 'tmobi...",0,0,0,0,1,0,0
9281,someone please bless dinner ðŸ¥¹,"['someone', 'please', 'bless', 'dinner', '\U00...",0,0,0,0,1,0,0

In [2]:
# Tuning the parameters for tf-idf
# https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html
ngram_range=(1,1)
max_df =0.8
min_df =1
max_features=None

# create vectorizer
vectorizer =  TfidfVectorizer()
X = vectorizer.fit_transform(df['Text'])
X

<9226x14176 sparse matrix of type '<class 'numpy.float64'>'
	with 107101 stored elements in Compressed Sparse Row format>

In [3]:
from sklearn.decomposition import NMF

n_components = 5
nmf = NMF(n_components=n_components, random_state=42)
topic_document_matrix = nmf.fit_transform(X)
term_topic_matrix = nmf.components_

In [4]:
import numpy as np
v = vectorizer.vocabulary_

for i in range(n_components):
    topic = term_topic_matrix[i]
    s = sorted(topic, reverse=True)[:5]
    top_words=[]
    for val in s:
        max_position = np.where(topic == val)[0][0]
        top_word = list(v.keys())[list(v.values()).index(max_position)]
        top_words.append(top_word)
    print("The top 5 words in topic", i , "is", top_words)

The top 5 words in topic 0 is ['motus', 'done', 'sa_adco', 'cbsclutch', 'ferobrakes']
The top 5 words in topic 1 is ['delivery', 'food', 'get', 'driver', 'free']
The top 5 words in topic 2 is ['gazania', 'floral', 'abstract', 'pattern', 'flower']
The top 5 words in topic 3 is ['best', 'content', 'lifestyle', 'download', 'day']
The top 5 words in topic 4 is ['online', 'order', 'come', 'mert', 'today']